%table.table.table-hover
  %thead
    %tr
      %th
        title
  %tbody{"data-link"=>"row"}
    -for subscription in @subscriptions
      %tr
        %td
          = link_to subscription.book.title, book_url(subscription.book)
        %td
          = link_to(t('book_unsubscribe'), book_subscription_url(subscription.id), method: :delete)

= will_paginate @subscriptions
