= form_for @book_subscription, method: :post do
  .row.voffset30
    .col-sm-2
      Subscribe to book
    .col-sm-4
      = collection_select :book_subscription, :book_id, Book.all, "id", "title"
      = hidden_field :book_subscription, :user_id, value: params[:user_id]
  .row.voffset30
    .col-sm-2
      = submit_tag "save"
