%table.table.table-hover#filterrific_results
  %thead
    %tr
      %th
        =t('question.title')
      %th
        =t('question.type')

  %tbody
    -for question in @questions
      %tr
        %td
          = link_to "#{question.id}: #{question.text}", question_path(question)
        %td
          = question.type
        - if current_user && current_user.may_destroy(question)
          %td
            =link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, question_path(question), method: :delete

    %tr
      %td
        = #will_paginate @questions