#modal_question.modal.fade{"aria-labelledby" => "question", :role => "dialog"}
  .modal-dialog.modal-dialog-question{:role => "document"}
    .modal-content.question
      .modal-header
        %button.close.modal_question_close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Question
      .modal-body
        = form_for(@question, remote: true, html: { class: "question_form" } ) do |f|
          .row.voffset15
            .col-lg-4
              = t("question.type")
            .col-lg-8.fieldcontainer
              = f.select :type, options_for_select(Question.question_type_options,  @question.type), class: "question_type"
          = render partial: 'open', locals: {f:f}
          = render partial: 'open_score', locals: {f:f}
          = render partial: 'multiple_choice', locals: {f:f}
          = render partial: 'which_sound', locals: {f:f}
      .modal-footer
        %button#question_ok.btn.btn-info.modal_success_close{:type => "button", "data-dismiss" => "modal"}
          =t("ok")

:javascript
  $(document).ready(function(){
    maestoso.question.init()
  })
