.row.voffset15.question_type_form.question_MultipleChoice.hidden
  .col-md-12
    .row.voffset15
      .col-lg-4
        = t("question.question")
      .col-lg-8.fieldcontainer
        = f.text_field :text
    .row.voffset15
      .col-lg-4
        = t("question.correct answer")
      .col-lg-8.fieldcontainer
        = f.text_field :answer
    .row.voffset15.multiple_choice
      .col-lg-4
        = t("question.choices")
      .col-lg-8.fieldcontainer
        = f.text_area :choices
