.row.voffset15.question_type_form.question_WhichSound.question_WhichScore.hidden
  .col-md-12
    .row.voffset15
      .col-lg-4
        = t("question.question")
      .col-lg-8.fieldcontainer
        = f.text_field :text
    .row.voffset15.abc
      .col-lg-4
        = t("question.abc1")
      .col-lg-8.fieldcontainer
        = f.text_area :abc1, class: "abc_field"
    .row
      .col-lg-4
      .col-lg-8
        #svgabc1
    .row.voffset15.abc
      .col-lg-4
        = t("question.abc2")
      .col-lg-8.fieldcontainer
        = f.text_area :abc2, class: "abc_field"
    .row
      .col-lg-4
      .col-lg-8
        #svgabc2
      

