.row.voffset30.form-container
  %h3
    = t("question.edit")
  = form_for(@question, html: { class: "question_form" } ) do |f|
    .row.voffset15
      .col-lg-4
        = t("question.type")
      .col-lg-8.fieldcontainer
        = f.select :type, options_for_select(Question.question_type_options,  @question.type), class: "question_type"
    = render partial: 'which_sound', locals: {f:f}
    .row.voffset15
      .col-lg-4
        = t("question.tags")
      .col-lg-8.fieldcontainer
        = select :question, :tag_list, ActsAsTaggableOn::Tag.most_used, {}, multiple: true, class: "tune_tags"
    .row.voffset15
      .col-lg-4
        = f.submit 'save',  class: "btn btn-info", id: "submit_upload"

:javascript
  $(document).ready(function(){
    maestoso.question.init()
    maestoso.question.make_taggable()
  })

