.row.content_container
  .col-md-12
    .row.list_filters
      .row
        .col-lg-12
          .buttons
            = link_to t('question.new'), new_question_url, :class => "btn btn-info voffset15"
            = link_to(t('tune.reset_filters'), reset_filterrific_url, {:class => "btn btn-info voffset15"})
      = form_for_filterrific @filterrific do |f|
        =hidden_field_tag :collection, params[:collection]
        .row.voffset10
          .col-md-6
            %label
              =t('question.search_title')
            = f.text_field :search, class: 'filterrific-periodically-observed search'
          .col-md-5
            %label
              =t('question.searchtags')
            .select
              = select_tag :tag_search, options_for_select(ActsAsTaggableOn::Tag.most_used.collect(&:name)), multiple: true, class: "tune_tags"
        .row.voffset10
          .col-md-3
            %label
              =t('question.search_type')
            = f.select :type, options_for_select(Question.question_type_options, @filterrific.type), {:include_blank => t('question.all_types')}, class: 'filterrific-periodically-observed tune_search'


    %div
      = render_filterrific_spinner
      = render partial: 'list'

:javascript
  $(document).ready(function(){
    maestoso.question.init_list()
  })