.row.content_container
  .col-md-12
    - if @question
      .row
        .buttons
          = link_to(t('question.edit'), edit_question_url(@question), { :class => "btn btn-info voffset15" })

    .row
      .col-12.tune_title
        %h3
          \#
          = params[:tag]
    - @questions.each_with_index do |q, i| 
      %div{class: "question_container_#{i} hidden"}
        = render(partial: "questions/render/#{q.type.underscore}", locals: { q: q })          
    - if @question_count > 1 
      .row.prev_next.center
        .col-md-10
          =link_to("", "#", id: 'prev_question', class: 'glyphicon glyphicon-chevron-left btn btn-info'   )
          =link_to("", "#", id: 'next_question', class: 'glyphicon glyphicon-chevron-right btn btn-info'   )

:javascript
    $('document').ready(function(){
    maestoso.answer.init()
    //maestoso.question.init()
    maestoso.question_index = 0
    maestoso.max_question_index = #{@question_count} - 1
    maestoso.answer.load_question()
    maestoso.inlineAbcRenderer.init()
    maestoso.sounds.init()
  })