.row.voffset30.form-container
  %h3
    =t("user.confirm_account")
  %p
    =t("user.create_password")
  %p
    = devise_error_messages!
  =form_for(resource, :as => resource_name, :url => confirm_path, :html => {class: "form-horizontal"}) do |form|
    .form-group
      %label.col-sm-2.control-label{:for => "password"}
        =t("user.password")
      .col-sm-10
        = form.password_field :password, :input_html => {class: "form-control", :autofocus => true}
    .form-group
      %label.col-sm-2.control-label{:for => "password_confirmation"}
        =t("user.password_confirmation")
      .col-sm-10
        = form.password_field :password_confirmation,  :input_html => {class: "form-control"}
        = form.hidden_field :confirmation_token, :value => @original_token
    .form-group
      .col-sm-offset-2.col-sm-10
        %button{:type => "submit", :class=> "btn btn-default"}
          =t("user.password_save")
