.row
  #warningsDiv{:style => "display:none"}
.row
  .col-md-12.canvas_wrapper
    #canvasDiv{:style => "overflow-y: auto; float:left"}
      %svg{:height => "2in", :viewbox => "0 0 595 144", :width => "8.3in", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
        %title (empty)
        %text{"font-family" => "serif", "font-size" => "12", :x => "250", :y => "100"} (empty)


