#toptoolbar.row.toolbar_container.hide_fs
  .toolbar_group.hidden-xs
    %ul{class: "btn-group btn-group-small", role: "group"}

.row.toolbar_container{style: "padding-bottom: 15px; border-top:0px"}
  .col-sm-10
    %ul#practiceSelector
      - if @tools.include?('play')
        %li
          %input#startPlayback.start.btn.btn-info.btn-sm{:type => "button", :value => t('part.listen')}/
        %li.hidden
          %input#stopPlayback.stopbtn.btn-info.btn-sm{:type => "button", :value => t('part.stop')}/
      - if @tools.include?('rhythm')
        %li
          %input#startRhythm.start.btn.btn-info.btn-sm{:type => "button", :value => t('part.rhythm')}/
        %li.hidden
          %input#stopRhythm.stop.btn.btn-info.btn-sm{:type => "button", :value => t('part.stop')}/ 
      - if @tools.include?('record')
        %li
          %input#startRecord.start.btn.btn-info.btn-sm{:type => "button", :value => t('part.record')}/
        %li.hidden
          %input#stopRecord.stop.btn.btn-info.btn-sm{:type => "button", :value => t('part.stop')}/                             
      - if @tools.include?('intonation')
        %li
          %input#startIntonation.start.btn.btn-info.btn-sm{:type => "button", :value => t('part.intonation')}/
      %li.hidden
        %input#stopIntonation.stop.btn.btn-info.btn-sm{:type => "button", :value => t('part.stop')}/
      %li.hidden  
        %input#exitFullscreen.btn.btn-info.btn-sm{:type => "button", :value => t('part.exit_fullscreen')}/
      %li
        %input#fullScreen.btn.btn-info.btn-sm{:type => "button", :value => t('part.full_screen')}/
      %li
        %input#groove.btn.btn-info.btn-sm{:type => "button", :value => 'Groove'}/
    .tempo
      %span
        =t("part.change_tempo")
      %select#bpm
        - (1..300).each do |t| 
          %option{value: t}
            =t
            