%iframe{name: "grooveScribe", id: "groovescribe", src: "http://localhost:3000/groovescribe?mode=view&#{@part.notation}", width: '100%', style: 'border: 0px' }
:javascript
  $(document).ready(function(){
    maestoso.drumPart.show()
  })
