.row.abc_header
  =t("abc_code")
.row.edit_actions
  .col-lg-1
    %a{class: 'editAddGroup', data: { opengroup: '(', closegroup: ')'}}
      =t('part.slur')
  .col-lg-1    
    %a{class: 'editAddGroup', data: { opengroup: '!<(!', closegroup: '!<)!'}}
      =t('part.cresendo')
  .col-lg-1    
    %a{class: 'editAddGroup', data: { opengroup: '!>(!', closegroup: '!>)!'}}
      =t('part.decresendo')
  .col-lg-3   
    %a{class: 'editAddDecoration', data: { decorate: "p" } }
      =t('part.p') 
      &nbsp
    %a{class: 'editAddDecoration', data: { decorate: "pp" } }
      =t('part.pp')
      &nbsp
    %a{class: 'editAddDecoration', data: { decorate: "mf" } }
      =t('part.mf')
      &nbsp
    %a{class: 'editAddDecoration', data: { decorate: "f" } }
      =t('part.f')   
      &nbsp
    %a{class: 'editAddDecoration', data: { decorate: "ff" } }
      =t('part.ff')                                   
=f.text_area "notation", { :id=>"abc", :value => @part.notation.gsub("\\n", '&#13;').html_safe }