.row
  .col-lg-12  
    %h3
      =t('part.favorites')    
    %table.table.table-hover#filterrific_results
      %thead
        %tr
          %th
            =t('tune.title')
      %tbody
        -for part in @parts
          %tr
            %td
              - unless @offline
                = link_to part.tune.title, part_path(part, favorites: true, t: @token)
              - else
                = link_to part.tune.title, "/offline_parts/#{part.id}?t=#{@token}"
        %tr
          %td
            = will_paginate @parts