.row.toolbar_container
.row.messages
  .col-lg-12
    - if @tune.multipart
      .row
        %ul.list_filter
          %li
            = radio_button_tag(:messages_filter, 'all_parts', true)
            = t('message.only_for_this_part')
          %li
            = radio_button_tag(:messages_filter, 'this_part')
            = t('message.all_parts')
    - messages.each do |message|
      - messagetype = @part.id == message.part_id ? 'current' : 'other'
      .row.voffset30.message{class: messagetype}
        .row
          .col-lg-12.message_header
            = message.from_user.name
            %span
              = distance_of_time_in_words message.created_at, Time.now
              = t('general.ago')
              - if current_user.may_destroy message
                =link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, message_path(message), method: :delete
        .row.voffset15
          .col-lg-12.message_body
            = message.text
