#modal_recordings.modal.fade{"aria-labelledby" => "recordings", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.recordings
      .modal-header
        %button.close.modal_recordings_close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          =t('recording.recording')
      .modal-body
        %p#recording_remarks
          = t('recording.check')
        %ul#recordingslist
        .row.voffset30
          .col-md-12
            = t('access.access') + ': '
            = select_tag :access, options_for_select([[t('access.private'), 'private'], [t('access.teacher'), 'teacher'],[current_user.group.name, 'group']])
        .row.voffset30
          .col-md-12
            = t('recording.remarks')
        .row
          .col-md-12
            = text_area_tag :remarks
      .modal-footer
        %button#modal_recordings_ok.btn.btn-info{:type => "button"} OK

:javascript
  $(document).ready(function(){
      maestoso.recordings.init()
  })

