#modal_rhythm_options.modal.fade{"aria-labelledby" => "rhythm_options", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.rhythm_options
      .modal-header
        %button.close.modal_rhythm_options_close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Options
      .modal-body
        .row
          .col-sm-6
            .form-group
              =t("part.play_along")
              = check_box_tag :play_along
        .row
          .col-sm-6
            .form-group
              =t("part.play_with_metronome")
              = check_box_tag :with_metronome, 1, true

      .modal-footer
        %button#rhythm_options_close_ok.btn.btn-info.modal_success_close{:type => "button", "data-dismiss" => "modal"} OK

