#modal_upload.modal.fade{"aria-labelledby" => "add-recording", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.upload
      .modal-header
        %button.close.modal_upload_close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = t('part.upload_recording')
      .modal-body
        = form_for(@recording) do |f|
          = f.hidden_field :user_id, value: current_user.id
          = f.hidden_field :part_id, value: @part.id
          .row.voffset30
            = f.file_field :soundtrack
          .row.voffset30
            = t('recording.study_track')
            = f.check_box :study_track, as: :boolean
          .row.voffset30#speed_versions_line.hidden
            = t('recording.speed_versions')
            = f.text_field :speed_versions
          .row.voffset30#remarks.hidden
            .row
              .col-md-12
                = t('recording.remarks')
            .row
              .col-md-12
                = f.text_area :remarks
          .row.voffset30.hidden#save_uploaded_file
            = f.submit t('recording.save'), class: "btn btn-info", id: "submit_upload"

          = hidden_field_tag :part_id, @part.id
      .modal-footer
