#modal_succeeded.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.success
      .modal-header
        %button.close.modal_success_close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title You did it!
      .modal-body
        <p>You mastered this piece, perhaps you can try another one?</p>

      .modal-footer
        %button.btn.btn-info.modal_success_close{:type => "button", "data-dismiss" => "modal"} OK

:javascript
  $('.modal_success_close').on('click', function () {
    $('.marker').remove()
  })
