#modal_failed.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.failure
      .modal-header
        %button.close.modal_failure_close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title I am sorry!
      .modal-body
        <p>You missed too many notes, perhaps you should try this one again?</p>

      .modal-footer
        %button.btn.btn-info.modal_failure_close{:type => "button", "data-dismiss" => "modal"} OK

:javascript
  $('.modal_failure_close').on('click', function () {
    $('.marker').remove()
  })
