#modal_backing.modal.modal-wide.fade{"aria-labelledby" => "recordings", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.backing
      .modal-header
        %button.close.modal_backing_close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Sound tracks
      .modal-body
        -#%p
        -#  %input{type: "checkbox", id: "checkAll"}
        -#  =t("check_all")
        - for part in @tune.parts.order("created_at asc")
          - for recording in Part.find(part.id).recordings.order("created_at asc")
            .row.recording
              .col-md-1
                =check_box_tag "select_track_#{recording.id}", recording.filename, false, class: "backing_track", checked: false
              .col-md-2
                .row
                  = part.instrument
                .row
                  = "#{recording.created_at.strftime("%d-%m-%Y %HH %MM")}"
                //= audio_tag recording.filename, controls: true, id: "rec#{recording.id}", preload: "auto"
              .col-md-2
                = recording.user.name
              .col-md-6
                .slider100
                  %input{class: "volume_slider", id: "vol#{recording.id}", "data-track-file" => recording.filename, "data-slider-id" => recording.id, "data-slider-max" => "1", "data-slider-min" => "0", "data-slider-step" => "0.01", "data-slider-value" => "0.5", :type => "text"}/
        .row
          .col-md-1
            = t('mixer.position')
          .col-md-11
            .slider100
              %input{ id: "position_mix", "data-slider-max" => "200", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "0.5", :type => "text"}/
      .modal-footer
        %button#modal_backing_ok.backing_select.btn.btn-info.modal_success_close{:type => "button", "data-dismiss" => "modal"} OK
        %button#modal_backing_play.backing_select.btn.btn-info{:type => "button"} Play
        %button#modal_backing_stop.backing_select.btn.btn-info.hidden{:type => "button"} Stop

:javascript
  $('document').ready(function(){
      maestoso.selectBackingTracks.init()
  })
