#modal_new_part.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close.modal_close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = t("create_new_part_for_instrument_voice")
      .modal-body
        - if params[:controller] == "tunes"
          .row.modal-row
            .col-md-8
              .row
                .col-md-4
                  =t("title")
                .col-md-4
                  =text_field_tag(:title)
        .row.modal-row
          .col-md-8
            .row
              .col-md-4
                = t('part.single_multi')
              .col-md-4
                = select_tag(:multipart, options_for_select([[t('part.single_part'), false],[t('part.multipart'), true]]))

        .row.modal-row
          .col-md-8
            .row
              .col-md-4
                = t('part.instrument')
              .col-md-4
                = select_tag(:instrument, options_for_select(instruments), include_blank: true)
        .row.modal-row
          .col-md-8
            .row
              .col-md-4
                = t('part.meter')
              .col-md-4
                = select_tag(:meter, options_for_select(Tune.meters, "4/4"))
        .row.modal-row
          .col-md-8
            .row
              .col-md-4
                = t('part.key')
              .col-md-4
                = select_tag(:key, options_for_select(Tune.keys, "C"))
        .row.modal-row
          .col-md-8
            .row
              .col-md-4
                = t('part.part_number')
              .col-md-4
                = text_field_tag(:part_number, "")
        .row.modal-row
          .col-md-8
            .row
              .col-md-4
                = t('group.for_band')
              .col-md-4
                = select_tag :group_id, options_from_collection_for_select(Group.all, "id", "name") ,include_blank: true
        .row.modal-row
          .col-md-8
            .row
              .col-md-4
                =t('part.part_type')
              .col-md-4
                = select_tag(:part_type, options_for_select(%w(abc scan drum)))

      .modal-footer
        %button.btn.btn-info.modal_success_close{:type => "button", "data-dismiss" => "modal"} OK

:javascript
  $(document).ready(function(){
   maestoso.part.new()
  })


