#modal_add_homework.modal.fade{"aria-labelledby" => "add_homework", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.homework
      .modal-header
        %button.close.modal_homework_close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Add homework
      .modal-body
        = form_for(Homework.new, { method: :post, id: :homework_form }) do |f|
          .row
            .col-sm-2
              Due before
            .col-sm-6
              .form-group
                #datetimepicker1.input-group.date
                  =text_field :homework, :due_date, { class: "form-control", type: "text" }
                  %span.input-group-addon
                    %span.glyphicon.glyphicon-calendar
          .row
            .col-sm-2
              Remarks
            .col-sm-6
              = text_area :homework, :remarks

          = hidden_field_tag :part_id, @part.id

      .modal-footer
        %button#add_homework_ok.btn.btn-info.modal_success_close{:type => "button", "data-dismiss" => "modal"} OK

:javascript
  $(document).ready(function(){
      maestoso.homework.init()
  })

