.row.toolbar_container
  .col-lg-12
    .buttons
      - if current_user.may_create(Part)
        %a{ href: "#", "data-toggle" => "modal", "data-target" => "#modal_new_part", :class => "btn btn-info voffset15"}
          = t('part.new_part')

%table.table.table-hover
  %thead
    %tr
      %th
        =t('part.created')
      %th
        =t('part.author')
      %th
        =t('part.instrument')
      %th
        =t('part.part_number')

  %tbody{"data-link"=>"row"}
    -for part in @other_parts
      %tr
        %td
          = link_to(part.created_at.strftime("%d-%m-%Y"), part_url(part))
        %td
          = part.author.name rescue t('general.unknown')
        %td
          = part.instrument.nil? ? t('general.unknown') : t("instrument.#{part.instrument}")
        %td
          = part.part_number
        %td
          - if current_user.may_destroy(@part)
            =link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, part_path(part), method: :delete
