.row.part_properties.voffset15
  .col-md-12
    = t('part.instrument') + ': '
    = f.select(:instrument, options_for_select(instruments, @part.instrument), include_blank: true )
    &nbsp;&nbsp;
    = t('part.part_number') + ': '
    = f.text_field :part_number
.row.tags.voffset15
  .col-md-12
    = t('part.instruction')
    = f.text_area :instruction, style: "width:100%"
.row.tags.voffset15
  .col-md-12
    = t("tune_tags")
    = select :tune, :tag_list, ActsAsTaggableOn::Tag.most_used, {}, multiple: true, class: "tune_tags"
  = f.hidden_field :part_type