.row
  .col-md-12.canvas_wrapper
    .annotation_container
    %svg.pdf_overlay
    .pdf_container
      %object{class: 'score_container', data: @part.scan1, type: "application/pdf", width: "100%;", height: "3600px;"}
        -#- y = 0
        -#- (1..4).each do |i|
        -#  - part = @part.send("scan#{i}")
        -#  - unless part.nil?
        -#    %image{"xlink:href" => part, x: "0px", y: "#{y}px", width: "100%", height: "#{(1800.to_f/@part.svg_height)*100}%", preserveAspectRatio: "none"}
        -#    - y = y + 1800