.row
  .col-md-12.canvas_wrapper
    .score_container
      %svg{width: "100%",  height: @part.svg_height}
        - y = 0
        - (1..4).each do |i|
          - part = @part.send("scan#{i}")
          - unless part.nil?
            %image{"xlink:href" => part, x: "0px", y: "#{y}px", width: "100%", height: "#{(1800.to_f/@part.svg_height)*100}%", preserveAspectRatio: "none"}
            - y = y + 1800
