.row.youtube_container
  .col-lg-12
    .row.youtube_link.voffset15
      .col-lg-12
        - @youtube_codes.each do |link|
          .row.voffset15
            .col-lg-12
              = link[0].remarks
          .row.voffset5
            .col-lg-12
              %iframe{width: "560", height: "315",  src: "https://www.youtube.com/embed/#{link[1]}",  frameborder: "0", gesture: "media", allow: "encrypted-media", allowfullscreen: true}
              - if current_user.may_destroy(link[0])
                .row.delete_youtube_link
                  .col-lg-12
                    =link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, delete_youtube_link_path(id: @part.id, youtube_link_id: link[0]), method: :delete


-if current_user.may_create(YoutubeLink)
  .row.youtube_post
    .col-lg-12
      = form_for(@youtube_link, method: "post") do |f|
        .row.voffset40
          .col-md-2
            =t('part.youtube_url')
          .col-md-6
            = f.text_field('youtube_url', class: 'form-control')
        .row.voffset10
          .col-md-2
            =t('part.youtube_remarks')
          .col-md-6
            = f.text_area('remarks', class: 'form-control')
        .row.voffset10
          .col-md-2
          .col-md-2
            =f.submit class: 'btn btn-info'


