.tab-content
  #editorDiv.tab-pane.active{:role => "tabpanel", :style => "width:100%;"}
    = render partial: "#{@part.part_type || 'abc'}_part"
    .col-md-12.canvas_wrapper
      #abc_editor.hidden
        = form_for @part, {:format => :json, :remote => true, html: {id: 'abc_form'}} do |f|
          .row.hidden.show_edit
            = render partial: 'editor', locals: {f: f}
:javascript
  maestoso.tempo = #{@tune.tempo}
  maestoso.annotations = #{@part.annotations.to_json}
  maestoso.part_id = #{@part.id}
  maestoso.hittimes = #{@part.hit_times.split(",") rescue []}
  maestoso.part_type = '#{@part.part_type || 'abc'}'
  maestoso.currentTune = Object
  maestoso.recordingIds = #{@part.recordings.collect(&:id)}
  if(maestoso.part_type == 'scan' || maestoso.part_type == 'pdf'){
    maestoso.currentTune.notesTohit = #{@part.note_marks || []}
    console.log("nth", maestoso.currentTune.notesTohit)
  }else{
    maestoso.currentTune.notesTohit = abcEditor.hittimes
  }

  maestoso.study_track = '#{@tune.study_track.soundtrack.file.filename rescue ''}'
  teststring = "abde${1+1}efg"
