.row.practice_start
  = form_tag("/pick_tune", method: "get") do
    .row.voffset40
      .col-md-2
        =t("select_meter")
      .col-md-2
        = select_tag("meter", options_for_select(Tune.meters, "4/4"), class: :practice_select)
    .row.voffset40
      .col-md-2
        =t("select_genre")
      .col-md-2
        = select_tag("genre", options_for_select(Tune.genres, ""), class: :practice_select)
    .row.voffset40
      .col-md-2
        =t("select_collection")
      .col-md-2
        = select_tag("c", options_for_select(Tune.collections, ""), class: :practice_select)
    .row.voffset40
      .text-center
        %button.btn.btn-info.btn-lg
          =t("start_practice")
