:css
  @media print{
    .modal, #abc, .navbar, input, select{
      display: none !important;
    }
  }


#editorDiv{:style => "width:100%;"}
  %select#selKey.hidden
  .row
    .col-md-12
      #canvasDiv{:style => "overflow-y: auto; float:left"}
  .row
    = form_for @tune, {:format => :json, :remote => true} do |f|
      .col-lg-12
        .text-center
          =f.text_area "notation", { :id=>"abc",:class=>'hidden', :value => @part.notation.gsub("\\n", '&#13;').html_safe }
:javascript
  initApp()
  window.print();
