.row.content_container
  .col-md-12
    = render 'layouts/breadcrumb' unless (@breadcrumbs.nil? || params[:offline] == 'true')
    %h4.tune_title.hide_fs
      - if params[:tag]
        \#
        = params[:tag]
      -else
        = @tune.title   
    - unless params[:offline] == 'true'
      %ul.nav.nav-tabs.tune_tabs.hide_fs{:role => "tablist"}
        %li.active{:role => "presentation"}
          - if @tune.multipart
            %a{"aria-controls" => t('part.part'), "data-toggle" => "tab", :href => "#editorDiv", :role => "tab"} #{t('part.score')} 
          - else
            %a{"aria-controls" => t('part.part'), "data-toggle" => "tab", :href => "#editorDiv", :role => "tab"} #{t('part.part')}
        %li{:role => "presentation"}
          %a.recordings_tab{"aria-controls" => t('part.recordings'), "data-toggle" => "tab", :href => "#recordings", :role => "tab"} #{t('part.recordings')}
    .tab-content
      #editorDiv.tab-pane.active{:role => "tabpanel", :style => "width:100%;"}
        = render partial: "controls"
        #instruction
          = @part.instruction
        - unless ['pdf', 'scan'].include?(@part.part_type) && @part.scan1.file.nil?
          = render partial: "#{@part.part_type || 'abc'}_part"
        .col-md-12.canvas_wrapper
          #abc_editor{class: (params[:state] == "edit" && @part.part_type == 'abc' ? "" : "hidden")}
            = form_for @part, {:format => :json, :remote => true, html: {id: 'abc_form'}} do |f|
              .row.hidden.show_edit
                = render partial: 'editor', locals: {f: f}
                auto refresh
                = check_box_tag "auto_refresh", 1, {:checked => "checked"}
                = render partial: 'part_properties', locals: { f: f }
        .row.admin_actions.hide_fs
          .col-md-12.voffset15
            -if current_user && current_user.may_update(@tune)
            =link_to "<span class='glyphicon glyphicon-edit'</span>".html_safe, "#", id: 'action_edit', class: 'hide_edit'
              =link_to(t('part.save'), "#", id: 'action_save', class: 'link hidden show_edit')        
        - if @partscount > 1 
          .row.prev_next
            .col-md-10
              =link_to('', "#", id: 'prev_abc', class: 'glyphicon glyphicon-chevron-left btn btn-info'   )
              =link_to('', "#", id: 'next_abc', class: 'glyphicon glyphicon-chevron-right btn btn-info'   )

      #recordings.tab-pane{:role => "tabpanel"}
        .row.recordingsContainer.recordings_wrapper.timeline
          = image_tag("loading.gif")

= render partial: "modal_failed"
= render partial: "modal_succeeded"
= render partial: "modal_recordings" 
#modal_backings_container
  = render partial: "modal_backing"
= render partial: "modal_new_part"
= hidden_field_tag "user_id", current_user.try(:id)
= hidden_field_tag "tune_meter", @part.tune.meter
#add_annotation_text.hidden
  %input#add_annotation_text_field
  %a.btn.btn-info.btn-sm#saveAnnotation
    ok
  %a.btn.btn-info.btn-sm#cancelAnnotation
    cancel
#detector.vague.hidden
  .note
    %span#note --
.hidden
  - @parts.each_with_index do |p,i|
    %textarea{id: 'other_abc' + i.to_s, data: {part_id: p.id}}
      = p.notation
    %textarea{id: 'instruction_' + i.to_s, data: {part_id: p.id}}
      = p.instruction      
:javascript
  // bootstrapping part and tune data
  maestoso.tune_id = #{@tune.id}
  maestoso.original_tempo = #{@tune.tempo}
  maestoso.tempo = maestoso.original_tempo
  maestoso.current_student_id = #{session['current_student'] ? session['current_student']['id'] : ''}
  maestoso.annotations = #{@annotations.to_json}
  maestoso.part_id = #{@part.id}
  maestoso.current_user_id = #{current_user.id}
  maestoso.hittimes = #{@part.hit_times.split(",") rescue []}
  maestoso.part_type = '#{@part.part_type || 'abc'}'
  maestoso.currentTune = Object
  maestoso.recordingIds = #{@part.recordings.collect(&:id)}
  maestoso.study_track = '#{@tune.study_track.soundtrack.file.filename rescue ''}'
  maestoso.group_users = #{ User.where(group_id: current_user.group_id).map{ |o| { key: o.username, value: o.username, email: o.email} }.to_json.html_safe }
  maestoso.abc_index = 0
  maestoso.max_abc_index = #{ @partscount - 1 }
  maestoso.grooveUrl = '#{@groove_url.try(:html_safe)}'
  $(document).ready(function(){
     maestoso.part.editor.init()
     if(maestoso.part_type == 'scan' || maestoso.part_type == 'pdf'){
         maestoso.currentTune.notesTohit = #{@part.note_marks || []}
     }else{
         maestoso.currentTune.notesTohit = abcEditor.hittimes
     }
     maestoso.part.show()
     maestoso.sounds.init()
     if(window.location.hash == '#recordings') $('.recordings_tab').click()
  })

