!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      #{@teacher.name} heeft nieuw huiswerk opgegeven: #{@tune.title}
    %p
      Klik op onderstaande link om het muziekstuk te openen.
      %br/
      = link_to @tune.title, tune_url(@tune)