!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      #{@upload.user.name} heeft een opname toegevoegd bij #{@tune.title}
    %p
      = "Opmerkingen: #{@upload.remarks}"
    %p
      Klik op onderstaande link om het muziekstuk te openen.
      %br/
      = link_to @tune.title, tune_url(@tune)