!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      #{@comment.user.name} heeft commentaar gegeven bij een #{@comment.commentable_type}
    %p
      = @comment.text
    %p
      Klik op onderstaande link om dit commentaar te lezen.
      %br/
      = link_to @commentable.commentable_title, @commentable.commentable_visit_url