!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      #{@message.from_user.name} heeft een bericht geplaatst bij een muziekstuk
    %p
      = @message.text
    %p
      Klik op onderstaande link om dit muziekstuk te openen.
      %br/
      = link_to @message.part.tune.title, part_url(@message.part_id)