.row.voffset10.add_comment
  .col-lg-8
    %textarea.comment_text{ id: "comment_text_#{commentable_id}", placeholder: t('comments.placeholder')}
  .col-lg-4
    %button.post_comment.btn.btn-info{data: {commentable_id: commentable_id, commentable_type: commentable_type}}
      =t('comments.post_comment')