.col-lg-12
  .row
    .col-lg-12
      =t('comments.list_comments')
  .row
    .col-lg-12.comments_container
      - comments.each do |comment|
        .row.voffset10
          .col-lg-12
            %span.author
              = "#{comment.user.username}: "
            = comment.text
            %span.created
              = "#{distance_of_time_in_words Time.now, comment.created_at} #{t('general.ago')}"