<% js = escape_javascript(
  render(partial: 'comments/list_comments', locals: { comments: @comments })
) %>
$("#comments_<%= @comment.commentable_type.downcase %>_<%= @comment.commentable_id %>").html("<%= js %>");
$('.comment_text').val('')