.col-lg-12
  - for recording in @part.recordings.order("created_at desc")
    .row.recording.voffset10{class: recording.study_track ? 'study_track' : 'current'}
      .col-md-12.recording-container
        .row
          .col-md-4
            = recording.user.name
            = ", #{distance_of_time_in_words Time.now, recording.created_at} (#{recording.study_track ? t('recording.study_track') : t("instrument.#{@part.instrument}")})"
          .col-md-6
            = audio_tag recording.filename, id: "audio#{recording.id}", controls: true, preload: 'none'
          .col-md-1
            = link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, recording_path(recording, part_id: @part.id), method: :delete
          .col-md-2
            = rating_for recording, 'performance', star_path: '/ratyrate', disable_after_rate: false, readonly: current_user.id != recording.user.teacher_id
        .row.recordingRemarks
          .col-md-6
            = "#{t("recording.remark")}: #{recording.remarks}"
        .col-lg-12
          .row.voffset10.list_comments{id: "comments_recording_#{recording.id}"}
            = render(partial: 'comments/list_comments', locals: {comments: recording.comments})
          = render(partial: 'comments/add_comment', locals: {commentable_type: 'Recording', commentable_id: recording.id})

  = will_paginate @recordings

:javascript
  maestoso.comments.init()
