<% recordings = escape_javascript(
  render(partial: 'parts/recordings')
) %>
<% modal_backings = escape_javascript(
  render(partial: 'parts/modal_backing')
) %>

$("#recordings").html("<%= recordings %>");
$("#modal_backings_container").html("<%= modal_backings %>");