= render 'layouts/breadcrumb'
.row.timeline
  .col-md-12.timeline_container
    .row.timeline-header
      .col-md-12.timeline_title.container_title
        = t('recording.timeline')
        = @timeline_title
    - @recordings.each do |recording|
      .col-md-12.recording-container.voffset10
        .row
          .col-md-3
            = distance_of_time_in_words Time.now, recording.created_at
            = t('general.ago')

          .col-md-3
            = link_to recording.part.tune.title, tune_path(recording.part.tune)
        .row.voffset5
          .col-md-10
            = audio_tag recording.filename, controls: true
          .col-md-2
            = rating_for recording, 'performance', star_path: '/ratyrate', readonly: current_user.id != recording.user.teacher_id, disable_after_rate: false

        .row
          .col-md-12
            = "#{t("recording.remark")}: #{recording.remarks}"
        .row.voffset10.list_comments{id: "comments_recording_#{recording.id}"}
          = render(partial: 'comments/list_comments', locals: {comments: recording.comments})
        = render(partial: 'comments/add_comment', locals: {commentable_type: 'Recording', commentable_id: recording.id})

:javascript
  maestoso.comments.init()

