%div{class: "question_container #{false ? 'hidden' : ''}" }
  %span{id: "question_#{q.id}", class: 'question', data: { question: ''}}
    = q.text
  = link_to("<span class='glyphicon glyphicon-edit' aria-hidden='true'></span>".html_safe, edit_question_url(q.id), remote: true, class: 'edit_question') if controller.controller_name == 'chapters'
  - display_tune = rand.round + 1
  %script
    = "maestoso.question_#{q.id}_good = #{display_tune}"
  %div{id: "question_#{q.id}_abc1", class: "abcTune #{display_tune == 1 ? '' : 'hidden' }",  data: { abc: q.abc1.gsub('\r\n', '&#xa;'), abcmodel: 'true'} }
  %div{id: "question_#{q.id}_abc2", class: "abcTune #{display_tune == 2 ? '' : 'hidden' }",  data: { abc: q.abc2.gsub('\r\n', '&#xa;'), abcmodel: 'true'} }
  %div{class: 'tune_controls'}
    %input{type: 'radio', name: "choose_#{q.id}", class: 'choose', data: {question_id: q.id, nr: '1'}}
    %a{class: 'play-button play-inline-tune btn-play-nr', data: { question_id: q.id, nr: 1 } }
      &#9658&nbsp;
    %span{id: "question_result_#{q.id}_abc1", class: "question_result_#{q.id} question_result glyphicon"}
    %input{type: 'radio', name: "choose_#{q.id}", class: 'choose', data: {question_id: q.id, nr: '2'}}
    %a{class: 'play-button play-inline-tune btn-play-nr', data: { question_id: q.id, nr: 2 } }
      &#9658&nbsp;
    %span{id: "question_result_#{q.id}_abc2", class: "question_result_#{q.id} question_result glyphicon"}
