%div{class: "question_container #{false ? 'hidden' : ''}" }
  %span{id: "question_#{q.id}", class: 'question', data: { question: ''}}
    = q.text
  = link_to("<span class='glyphicon glyphicon-edit' aria-hidden='true'></span>".html_safe, edit_question_url(q.id), remote: true, class: 'edit_question') if controller.controller_name == 'chapters'

  %a{class: 'play-button btn-play-rnd', data: { question_id: q.id}}
    &#9658

  %table
    %tr
      %td{valign: 'bottom', style: 'padding-bottom: 20px;'}
        %input{type: 'radio', name: "choose_#{q.id}", class: 'choose', data: {question_id: "#{q.id}", nr: '1'}}
        = t('questions.fragment1')
        %span{id: "question_result_#{q.id}_abc1", class: "question_result_#{q.id} question_result glyphicon"}
      %td
        %div{style: 'margin-left:-50px; margin-top: -10px', id: "question_#{q.id}_abc1", class: 'abcTune', data: { abc: q.abc1.gsub('\r\n', '&#xa;'), abcmodel: 'true'}} 

    %tr
      %td{valign: 'bottom', style: 'padding-bottom: 20px;'}
        %input{type: 'radio', name: "choose_#{q.id}", class: 'choose', data: {question_id: "#{q.id}", nr: '2'}}
        = t('questions.fragment2')
        %span{id: "question_result_#{q.id}_abc2", class: "question_result_#{q.id} question_result glyphicon"}
      %td
        %div{style: 'margin-left:-50px; margin-top: -10px', id: "question_#{q.id}_abc2", class: 'abcTune', data: { abc: q.abc2.gsub('\r\n', '&#xa;'), abcmodel: 'true'}} 
