.form-group
  %label.col-sm-2.control-label{:for => "title"}
    = t('group.name')
  .col-sm-8
    = f.text_field :name, {class: "form-control"}
- if current_user.role == 'admin'
  .form-group
    %label.col-sm-2.control-label{:for => "owner"}
      = t('group.owner')
    .col-sm-8
      = f.select :owner_id, options_from_collection_for_select(User.teachers_and_admins, :id, :name, @group.owner_id), {class: "form-control"}
.form-group
  .col-sm-offset-2.col-sm-10
    %button{:type => "submit", :class=> "btn btn-info btn-default"}
      =t('group.save')
