%table.table.table-hover
  %thead
    %tr
      %th
        =t('group.name')
  %tbody{"data-link"=>"row"}
    -for group in @groups
      %tr
        %td
          = link_to group.name, group_path(group)
        %td
          - if current_user.may_update(group)
            =link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, group_path(group), method: :delete

= will_paginate @groups
