.row.voffset30.form-container
  %h4
    = t('group.add_user') + ': '
    = @group.name
  = form_for @group, :html => {class: "form-horizontal"} do |f|
    .form-group
      %label.col-sm-2.control-label{:for => "owner"}
        = t('user.name')
      .col-sm-8
        = select_tag :user_id, options_from_collection_for_select(current_user.students, :id, :name), {class: "form-control"}
    .form-group
      .col-sm-offset-2.col-sm-10
        %button{:type => "submit", :class=> "btn btn-info btn-default"}
          =t('general.ok')