.row.content_container
  .col-md-12
    .row.list_filters
      .row
        .col-lg-12
          .buttons
            - if current_user.may_create(Group)
              = link_to(t('group.new'), new_group_url, {:class => "btn btn-info voffset15"})
    =render partial: 'list'
