.row.content_container
  .col-md-12
    - if current_user && current_user.may_update(@group)
      .row
        .buttons
          = link_to(t("group.edit"), edit_group_url(@group), { :class => "btn btn-info voffset15" })
          = link_to(t('group.add_user'), group_add_user_url(@group), {:class => "btn btn-info voffset15"})
          = link_to(t('group.add_book'), group_add_book_url(@group), {:class => "btn btn-info voffset15"})

    %ul.nav.nav-tabs.simple_form.voffset15{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "General info", "data-toggle" => "tab", :href => "#general_info", :role => "tab"} #{t('group.general_info')}
      %li{:role => "presentation"}
        %a{"aria-controls" => "Books", "data-toggle" => "tab", :href => "#students", :role => "tab"} #{t('group.students')}
      %li{:role => "presentation"}
        %a{"aria-controls" => "Books", "data-toggle" => "tab", :href => "#books", :role => "tab"} #{t('group.books')}

    .tab-content
      #general_info.tab-pane.active{:role => "tabpanel"}
        .row.voffset30
          .col-md-2
            %label.col-sm-2.control-label
              =t('group.name')
          .col-md-4
            = @group.name
        .row.voffset15
          .col-md-2
            %label.col-sm-2.control-label
              =t('group.owner')
          .col-md-4
            = @group.owner.name

      #students.tab-pane{:role => "tabpanel"}
        .row.voffset30
          .col-md-12
            = render('users/list')

      #books.tab-pane{:role => "tabpanel"}
        .row.voffset30
          .col-md-12
            %table.table.table-hover#filterrific_results
              %thead
                %tr
                  %th
                    =t("book.title")
              %tbody{"data-link"=>"row"}
                -for book in @books
                  %tr
                    %td
                      = book.title





