%table.table.table-hover
  %thead
    %tr
      %th
        Date
      %th
        Activity        
  %tbody{"data-link"=>"row"}
    -for log in @user_logs
      %tr
        %td
          = link_to log.date.strftime("%d-%m-%Y"), user_log_path(log), {:data=> {:remote => true, :target=>"#popup", :toggle=>"modal"}}
        %td
          = log.activity  
