= form_for @user, :html => { class: 'form-horizontal'} do |f|
  =hidden_field_tag :role, params[:role]
  =f.hidden_field :group_id
  .form-group
    %label.col-sm-2.control-label{ for: 'email' }
      =t("user.email")
    .col-sm-8
      = f.text_field :email, { class: 'form-control' }
  .form-group
    %label.col-sm-2.control-label{ for:  'last_name' }
      = t('user.last_name')
    .col-sm-8
      = f.text_field :last_name, { class: 'form-control' }
  .form-group
    %label.col-sm-2.control-label{ for: 'first_name' }
      = t('user.first_name')
    .col-sm-8
      = f.text_field :first_name, { class: 'form-control'}
  .form-group
    %label.col-sm-2.control-label{ for:  'instrument'}
      = t('part.instrument')
    .col-sm-8
      = f.select :instrument, options_for_select(instruments, @user.instrument), { class: 'form-control'}
  .form-group
    %label.col-sm-2.control-label{ for: 'part_number'}
      = t('part.part_number')
    .col-sm-8
      = f.text_field :part_number, { class: 'form-control'}

  - if current_user.role == 'admin'
    .form-group
      %label.col-sm-2.control-label{ for: 'teacher_id'}
        =t("user.teacher")
      .col-sm-8
        = f.select :teacher_id, options_from_collection_for_select(User.all, :id, :name, @user.teacher_id), { include_blank: true, class: 'form-control' }
    .form-group
      %label.col-sm-2.control-label{ for: 'role'}
        =t("user.role")
      .col-sm-8
        = f.select :role, options_for_select(%w(admin teacher student), @user.role), { class: 'form-control'}
    .form-group
      %label.col-sm-2.control-label{ for: 'group_id'}
        =t("user.group")
      .col-sm-8
        = f.select :group_id, options_from_collection_for_select(Group.all, :id, :name), { class: 'form-control'}

  - if @user.role == 'teacher'
    .form-group
      %label.col-sm-2.control-label{ for: 'teacher_instruments'}
        =t("user.teacher_instruments")
      .col-sm-8
        = f.select :teacher_instruments, options_for_select(instruments), { class: 'form-control'}, { :multiple => true, :size => 5 }

  .form-group
    .col-sm-offset-2.col-sm-10
      %button{type: 'submit', class: 'btn btn-default'}
        =t('user.save')
