.row.voffset15
  .col-md-2
    %label.col-sm-2.control-label
      =t('user.email')
  .col-md-4
    = @user.email
.row.voffset15
  .col-md-2
    %label.col-sm-2.control-label
      =t('user.username')
  .col-md-4
    = @user.username
.row.voffset15
  .col-md-2
    %label.col-sm-2.control-label
      =t('user.last_name')
  .col-sm-8
    = @user.last_name
.row.voffset15
  .col-md-2
    %label.col-sm-2.control-label
      =t("user.first_name")
  .col-sm-8
    = @user.first_name
.row.voffset15
  .col-md-2
    %label.col-sm-2.control-label
      = t('part.instrument')
  .col-sm-8
    = @user.instrument
.row.voffset15
  .col-md-2
    %label.col-sm-2.control-label
      = t('part.part_number')
  .col-sm-8
    = @user.part_number
- if @user.role == 'student'
  .row.voffset15
    .col-md-2
      %label.col-sm-2.control-label
        = t('user.teacher')
    .col-sm-8
      = @user.teacher.name