%table.table.table-hover#filterrific_results
  %thead
    %tr
      %th
        =t("user.email")
      %th
        =t("user.last_name")
      %th
        =t("user.first_name")
      - if params[:role].nil?
        %th
          =t("user.role")
      %th

  %tbody{"data-link"=>"row"}
    -for user in @users
      %tr
        %td
          = link_to user.email, user_path(user, role: params[:role])
        %td
          = user.last_name
        %td
          = user.first_name
        - if params[:role].nil?
          %td
            = user.role
        %td
          = link_to t("user.select"), select_user_url(user.id), method: :post, class: "btn btn-sm btn-transparent"
        %td
          -if current_user.may_take_over(user)
            = link_to t("user.take_over"), take_over_user_url(user.id), method: :post, class: "btn btn-sm btn-transparent"
        %td
          - if current_user.may_update(user)
            = link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, user_path(user), method: :delete
