%ul.nav.nav-tabs.simple_form{:role => "tablist"}
  %li.active{:role => "presentation"}
    %a{"aria-controls" => "General info", "data-toggle" => "tab", :href => "#general_info", :role => "tab"} #{t('user.general_info')}
  %li{:role => "presentation"}
    %a{"aria-controls" => "Books", "data-toggle" => "tab", :href => "#books", :role => "tab"} #{t('nav.books')}
  %li{:role => "presentation"}
    %a{"aria-controls" => "Homework", "data-toggle" => "tab", :href => "#homework", :role => "tab"} #{t('homework.homework')}
/ Tab panes
.tab-content
  #general_info.tab-pane.active{:role => "tabpanel"}
    = render partial: 'general_info'
  #books.tab-pane{:role => "tabpanel"}
    .row.voffset15
      .col-md-12.loffset10
        = render partial: 'book_subscriptions/list'
  #homework.tab-pane{:role => "tabpanel"}
    .row.voffset15
      .col-md-12.loffset10
        = render partial: 'homeworks/list'
