.row.content_container
  .col-md-12
    .row.list_filters
      .row
        .col-lg-12
          .buttons
            = link_to(t("user.new_#{params[:role]}"), new_user_url(role: params[:role]), {:class => "btn btn-info voffset15"})
      = form_for_filterrific @filterrific do |f|
        = hidden_field_tag :role, params[:role]
        .row.voffset10
          .col-md-12
            %label
            = f.text_field :search, class: 'filterrific-periodically-observed search', placeholder: t('user.search')
        %div
    = render_filterrific_spinner
    = render "list"
