.row.content_container
  .col-md-12
    .row
      .buttons
        = link_to(t('user.edit'), edit_user_url(@user, role: params[:role]), { :class => "btn btn-info voffset15" })
        = link_to(t('user.subscribe_book'), new_book_subscription_url(user_id: @user.id), { :class => "btn btn-info voffset15" })

    .voffset15
      / Nav tabs
      =render "tabs_#{@user.role}"
