.panel.panel-default.devise-bs
  .panel-heading
    %h4= t('devise.forgot_password.title')
  .panel-body
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f|
      .form-group
        = f.label :email, t('devise.sessions.email')
        = f.email_field :email, autofocus: true, class: 'form-control'
      = f.submit t('devise.forgot_password.send_instructions'), class: 'btn btn-primary'
= render 'devise/shared/links'
