.row
  .col-lg-11.container_title
    = "#{name.capitalize} #{t('nav.books').downcase}"
  .col-lg-11.book_category_container
    %div{id: "book_row"+lane.to_s, class: "book_row"}
      -if lane == 1
        -# disable for now
        -# = render(partial: 'favorites_book')
        -# = render(partial: 'homework_book') if current_user.role == 'student'
      -for book in books
        .book_container
          %a{ href: book_url(book), class: 'book', style: "background-color: white" }
            .cover
              = image_tag book.image.url, width: "80px", height: "60;"
            .title{ style: "color: black" }
              = book.title
            .subtitle
              = book.subtitle
          - if current_user.may_update(book)
            =link_to "<span class='glyphicon glyphicon-edit' aria-hidden='true'></span>".html_safe, edit_book_path(book)
          - if current_user.may_destroy(book)
            =link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, book_path(book), method: :delete
