.book_container
  %a{ href: favorites_url({t: @token}), class: 'book', style: "background-color: white" }
    .cover
      = image_tag "favorite_cover.png", width: "80px", height: "60;"
    .title{ style: "color: black" }
      = t('book.favorites')
    .subtitle
      = current_user.name
