.form-group
  %label.col-sm-2.control-label{:for => "title"} Titel
  .col-sm-8
    = f.text_field :title, {class: "form-control"}
.form-group
  %label.col-sm-2.control-label{:for => "title"} sub Titel
  .col-sm-8
    = f.text_field :subtitle, {class: "form-control"}
.form-group
  %label.col-sm-2.control-label{:for => "cover_image"}
    =t("cover image")
  .col-sm-8
    = f.file_field :image
.form-group
  %label.col-sm-2.control-label{:for => "group_id"}
    = t("for_group")
  .col-sm-8
    = f.select "group_id", options_from_collection_for_select(Group.all, "id", "name", @book.group_id), include_blank: true
.form-group
  %label.col-sm-2.control-label{:for => "group_id"}
    = t("for_instrument")
  .col-sm-8
    = f.select "instrument", options_for_select(instruments, @book.instrument), include_blank: true
.form-group
  .col-sm-offset-2.col-sm-10
    %button{:type => "submit", :class=> "btn btn-default"}
      Opslaan
