.book_container
  %a{ href: homeworks_url({t: @token}), class: 'book', style: "background-color: white" }
    .cover
      = image_tag "homework_cover.jpg", width: "80px", height: "60;"
    .title{ style: "color: black" }
      = t('book.homework')
    .subtitle
      = current_user.name