%tbody{"data-link"=>"row"}
=render partial: "book_row", locals: {books: @books, lane: 1, name: t('book.own')}
-# TODO don't show instrument_books for now, for simplicity
-#- @instrument_books.each do |instrument, books|
-#  =render partial: "book_row", locals: {books: books,  lane: 3, name: t("instrument.#{instrument}")}

