- if current_user.may_create(Book)
  .row.book_buttons
    .buttons
      = link_to("New book", new_book_url(role: params[:role]), {:class => "btn btn-info voffset15"})
.row.books
  .col-md-12
    =render partial: 'list'
