= render 'layouts/breadcrumb'
.row.content_container
  .col-md-12
    - if current_user && current_user.may_update(@book)
      .row.button_container{ style: 'margin-top: -15px' }
        .buttons
          = link_to("New chapter", new_book_chapter_url(book_id: @book.id), { :class => "btn btn-info" })

    %table.table.table-hover
      %thead
        %tr
          %th
            nr
          %th
            title
      %tbody{"data-link"=>"row"}
        - Chapter.where(book_id: @book.id).walk_tree do |chapter, level|
          %tr
            %td
              .spacer{ style: "width:#{ level * 20 }px" }
                &nbsp;
              = link_to "#{chapter.chapter_nr}. #{chapter.title}", book_chapter_path(@book, chapter)
            %td
              - if current_user.may_update(@book)
                =link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, book_chapter_path(@book, chapter), method: :delete
