.panel.panel-default.devise-bs
  .panel-heading
    %h4= t('.sign_in', default: 'Sign in')
  .panel-body
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f|
      .form-group
        = f.label :email, t('devise.sessions.email')
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :password, t('devise.sessions.password')
        = f.password_field :password, autocomplete: 'off', class: 'form-control'
      - if devise_mapping.rememberable?
        .checkbox
          = f.label :remember_me do
            = f.check_box :remember_me
            = t('devise.sessions.remember_me')
      = f.submit t('devise.sessions.sign_in'), class: 'btn btn-primary'
= render 'devise/shared/links'
