%table.table.table-hover
  %thead
    %tr
      %th.col-md-2
        =t('homework.date_added')
      %th
        =t('tune.title')
  -for h in @homeworks
    %tr
      %td
        = h.created_at.try(:strftime,"%d-%m-%Y")
      %td
        = link_to h.part.tune.try(:title), part_url(h.part)

