= form_for [@chapter.book, @chapter],:html => {class: "form-horizontal"} do |f|
  .row
    .form-group
      %label.col-sm-2.control-label{:for => "email"}
        = t('chapter.title')
      .col-sm-8  
        = f.text_field :title
    .form-group    
      %label.col-sm-2.control-label{:for => "email"}
        = t('chapter.chapter_nr')
      .col-sm-8  
        = f.text_field :chapter_nr
    .form-group
      %label.col-sm-2.control-label{:for => "parent"}
        = t('chapter.parent')
      .col-sm-8
        = f.select :parent_id, options_from_collection_for_select(Chapter.all, :id, :title, params[:parent_id] || @chapter.parent_id), include_blank: true
  .row
    = f.text_area :content, :class => 'summernote'
  .row
    = f.submit(t('chapter.save'), class: 'btn btn-info')

:javascript
  $(document).ready(function() {
    maestoso.chapter.edit()
  });

