= render 'layouts/breadcrumb'
.row.content_container
  .col-md-12
    - if current_user && current_user.may_update(@book)
      .row{ style: 'margin-top: -15px' }
        .buttons
          = link_to("New chapter", new_book_chapter_url(book_id: @book.id, parent_id: @chapter.id), { :class => "btn btn-info" })
      .row.voffset10
        .col-lg-12
          =link_to "<span class='glyphicon glyphicon-edit' aria-hidden='true'></span>".html_safe, edit_book_chapter_path(@chapter.book, @chapter )
          =link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, book_chapter_path(@chapter.book, @chapter), method: :delete
    .row.chapter
      .col-lg-12
        %h3
          =@chapter.title
    .row.voffset15.chapter
      .col-lg-12
        = replace_content_placeholders(@chapter.content).html_safe
    .question_container
:javascript
  $('document').ready(function(){
    maestoso.answer.init()
    maestoso.inlineAbcRenderer.init()
    maestoso.part.readExcercise.init()
  })


