%table.table.table-hover#filterrific_results
  %thead
    %tr
      %th
        =t('tune.title')
      %th
        =t('tune.meter')
      %th
        =t('tune.tempo')
      %th
        =t('tune.id')
  %tbody
    -for tune in @tunes
      %tr
        %td
          = link_to tune.title, tune_path(tune)
        %td
          = tune.meter
        %td
          = tune.tempo
        %td
          = tune.id
        - if current_user && current_user.may_destroy(tune)
          %td
            =link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, tune_path(tune, list: params[:list]), method: :delete

.pagination
  = will_paginate @tunes
