.row.content_container
  .col-md-12
    .row.list_filters
      .row
        .col-lg-12
          .buttons
            %a{ href: "#", "data-toggle" => "modal", "data-target" => "#modal_new_part", :class => "btn btn-info voffset15"}
              =t("tune.new")
            = link_to(t('tune.reset_filters'), reset_filterrific_url, {:class => "btn btn-info voffset15"})
      = form_for_filterrific @filterrific do |f|
        =hidden_field_tag :collection, params[:collection]
        .row.voffset10
          .col-md-6
            %label
              =t('tune.search_title')
            = f.text_field :title, class: 'filterrific-periodically-observed search'
          .col-md-5
            %label
              =t('tune.searchtags')
            .select
              = select_tag :tag_search, options_for_select(ActsAsTaggableOn::Tag.most_used.collect(&:name)), multiple: true, class: "tune_tags"
        .row.voffset10
          .col-md-3
            %label
              =t('tune.search_selection')
            .select
              = select_tag("list", options_for_select([[t('tune.all'), "all"],[t('tune.own'), "own"],[t('tune.favorites'), "favorites"]], params[:list]),  style: "width: 200px")
          .col-md-3
            %label
              =t('tune.search_meter')
            .select
              = f.select("with_meter", options_for_select(Tune.meters, @filterrific.with_meter), {:include_blank => t('tune.all_meters')}, style: "width: 200px")

      %div
      = render_filterrific_spinner
    = render "list"
    = render partial: "parts/modal_new_part"
:javascript
  $(document).ready(function(){
      maestoso.tune.index()
  })
