//$navbarcolor: #CC3300;
//$lightbackground: #FFCC99;

//$navbarcolor: #B95835;
//$lightbackground: #EECD86;

//$navbarcolor: #003399;
//$lightbackground: #CCFFCC;

//$navbarcolor: #C13100;
//$lightbackground: #FFFBD0;

//$navbarcolor: #307CD0;
//$lightbackground: #E0CEAD;

$navbarcolor: #fc5200;
$lightbackground: #ffffff;