// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body{
  font-family: 'Noto Sans';
  font-size: 14px;
  padding-top: 50px;
}

body.no_padding{
  padding-top: 0px !important;
}

label{
  width: 200px;
}

li{
  list-style: none;
}

input[type=checkbox]{
  margin-right: 10px;
}

.footer{
  margin-top:50px;
}

.flash{
  text-align: center;
  .notice_message{
    color: blue;
  }
  .alert_message{
    color: red;
  }
}

.important_link{

  color: $navbarcolor;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.wysiwyg_editor{
  height: 600px;
  width: 100%;
}

.list_filters{
  padding-left:10px;
  padding-bottom:10px;
  background-color: $lightbackground;
}


.voffset2  { margin-top: 2px; }
.voffset5 { margin-top: 5px; }
.voffset10 { margin-top: 10px; }
.voffset15 { margin-top: 15px; }
.voffset30 { margin-top: 30px; }
.voffset40 { margin-top: 40px; }
.voffset60 { margin-top: 60px; }
.voffset80 { margin-top: 80px; }
.voffset100 { margin-top: 100px; }
.voffset150 { margin-top: 150px; }

.loffset2  { margin-left: 2px; }
.loffset5 { margin-left: 5px; }
.loffset10 { margin-left: 10px; }
.loffset15 { margin-left: 15px; }
.loffset30 { margin-left: 30px; }

.width100 { width: 100px;}
.width200 { width: 200px;}

.btn-info {
  color:  $lightbackground !important;
  background-color: $navbarcolor;
  border-color: $navbarcolor;
}
.navbar-inverse {
  background-color: $navbarcolor;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color:  $lightbackground;
}

.navbar-inverse .navbar-text {
  color: $lightbackground;
}
.navbar-inverse .navbar-nav > li > a {
  color: $lightbackground;
}





