// Place all the styles related to the tunes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

html{
  height: 100%
}

body{
  background-color: #ddd;
  height: 100%
}

body.noscroll {
  position: fixed;
  overflow: hidden;
  }

a {
    color: #000000;
}

.cursor {
  display: inline-block;
  width: 20px;
  height: 50px;
  background-color: blue;
  opacity: 0.2;
  margin-top: 15px; // Note 5
  margin-left: 14px;
}

#canvas {
  width: 300px;
  overflow: auto;
  border:1px solid black;
}

#tune_notation {
  height: 300px;
  width: 1000px;
}

.tune_notation {
  overflow: auto;
}

@media print {
  .no_print {
    display: none;
  }
}

.toolbar_container{
  background-color:white;
  min-height: 70px;
  border-top:1px solid $lightbackground;;
  .toolbar_group{
    float:right;
    div{
      margin-left:10px;
      margin-right:10px;
      float:left;
    }
  }
}

.toolbar {
  margin-top: 10px;

  li {
    list-style-type: none;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
  }
}

#abc {
  display: block;
  width: 100%;
  height: 200px;
  border: 1px solid $lightbackground;
  margin:0px;
  margin-bottom:20px;
  padding: 10px;
  border-bottom: 2px solid  #dddddd;

}

.abc_container {
  border-right: 2px solid #dddddd;
  padding: 0;
}

.abc_header{
  padding: 10px;
  font-face: bold;
  height: 40px;
  margin: 0px;
}

.abc_properties{
  padding: 0;
  min-height: 243px;
  padding: 10px;
}

.admin_actions{
  margin-top: 20px;
}

.modal-dialog {
  .success {
    background-color: lightgreen;
  }

  .failure {
    background-color: orange;
  }
}

.buttons {
  min-height: 50px;
  padding: 10px;
  padding-left: 15px;
}

.buton_container{
  background: white
}

.form-container {
  position: relative;
  padding: 0px 15px 15px;
  margin: 20px -15px 15px;

}

#modal_add_homework{
  .modal-body{
    margin-left:15px;

    li{
      list-style-type: none;
    }
  }
}

.glyphicon-lg{
  font-size: 24px;
}

.play_buttons {
  border:1px solid #cccccc;
  border-bottom: 0px;
}
.canvas_wrapper {
  overflow: hidden;
  overflow-y: auto;
}

.recordings_wrapper {
  overflow: hidden;
  overflow-y: auto;
  //border:4px solid $lightbackground;
  border-top: 1px solid $lightbackground;
  background-color: #ddd;
}

.gl_disabled{
  color: #dddddd;
}

.gl_enabled{
  color: black;
}

#toptoolbar{
  padding-top:10px;
  padding-right:10px;
  margin-top: 1px;
  border-top: 1px solid $lightbackground;

}

#practiceSelector{
  padding-left:10px;
  li{
    float:left;
    margin-left:5px;
    margin-bottom: 5px;
  }
}

#bpmSlider{
  padding-left:10px;
  padding-top:10px;
  li{
    float:left;
    margin-left:5px;
  }
}
.content_container {
  background: white;
  min-height: 1000px;
}

.chapt
  a{
    color: $navbarcolor;
    font-weight: bold;
  }

.practice_start{
  .practice_select{
    width:200px;
  }
}

#select2-chosen-1 {
  width: 200px;
}

#filterrific_filter {
 label{
   width: 100%;
   margin-left: 2px;
 }
 .select2-container {
   width: 80%
 }
}

.search{
  padding-left:10px;
  width: 98%;
  height: 32px;
  border: 1px solid  #aaa;
  border-radius: 5px;
}

input:focus {
  border: 1px solid $navbarcolor;
  outline: none;
}

.book_container{
  float:left;
}

.book_shelf{
  overflow-x: hidden;
  background-color: #dddddd;
}

.book_category_container{
}

.book{
  width: 150px;
  display: block;
  height: 200px;
  padding-top: 20px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);

  .title{
    font-weight: bold;
    font-size: 14px
  }
  .subtitle{
    margin-top: 10px;
    font-size: 10px;
    color: #333333
  }
  .author{
    margin-top: 30px;
    font-size: 12px;
  }
  .cover{
    //background:rgba(255,255,255, 0.2);
    padding: 5px;
    //border: 2px solid #444444;
    width: 100px;
    height: 70px;
  }
}
.books{
  background-color: #eeeeee;
  height: 1000px;
}
.book_buttons{
  background-color: #eeeeee;
}


.container_title{
  padding-left:18px;
  font-weight: bold;
  margin-bottom:10px;
  margin-top: 20px;
}

.tune_tabs{
  margin-top:10px;
}

.tune_edit{
  border: 12px solid  $lightbackground;
  margin-left:0px;
  margin-right:0px;
}

.recordingsContainer {
  min-height: 800px;
  background-color: white;
  padding-top: 100px;
  text-align: center;
  .header{
    padding-top:15px;
    margin-bottom:20px;
    font-weight: bold;
  }
}

.new_recording{
  margin-left:10px;

}

.recording{
}


.modal-row{

  .row{
    padding: 10px;
  }
}

.modal-wide .modal-dialog{
  width: 80%;
}

.favorites{
  padding-left:60px;
}

.edit_actions{
  font-size: 11px;
  margin: 10px;
  background-color: $lightbackground;
  margin: 0px;
  padding-top:5px;
  height: 30px;
}

.main{
  background-color: #dddddd;
  min-height: 100%;
}

.editForm{
  padding-left:20px;
  padding-right:20px;
  background-color:white;
  padding-bottom: 10px;
}

#share_icon{
  float:left;
  width: 50px;
  padding-left:10px;
  img{
    width: 80%
  }
}

#message_to_user_id{
  width:500px;
}

#countDown{
  position:fixed;
  top: 50%;
  left: 50%;
  font-size: 100px;
  border: 1px solid #ccc;
}

#commentCanvas{
  position:fixed;
  top: 50%;
  left: 50%;
  font-size: 100px;
  border: 1px solid #ccc;
  border: 1px solid #ccc;

}

#add_annotation_text{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

}

#annotation_message{
}

.upload_scan{
  margin-top:20px;
  margin-bottom:20px;
}

.score_annotation{
  color: red
}
§§§
.pdf_overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;

}

.annotation_container{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9

}

#abc_editor{
  z-index: 200000;
}



.canvasDiv_edit{
  svg{
   // width: 95%;
  }
  margin-top: 5px;
  border: 2px solid $lightbackground;
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;

}

.slider100{
  width: 100%;
  .slider-horizontal{
    width: 100%
  }

}

.shadow{
  //box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  -webkit-box-shadow: 0px 9px 40px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 40px -17px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 40px -17px rgba(0,0,0,0.75);
  margin-bottom: 15px;
}

.breadcrumbs{
  background-color: white;
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 12px;
}

.top_medal{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  background-size: 30px 30px;
  text-align: center;
  padding-top:8px;
  font-size: 10px;
  float:left
}

.top_medal.gold{
  background-image: image-url('medals/gold.png');
}

.top_medal.silver{
  background-image: image-url('medals/silver.png');
}

.top_medal.bronze{
  background-image: image-url('medals/bronze.png');
}

.top_medal.platinum{
  background-image: image-url('medals/platinum.png');
}

.medals_link{
  margin-top: 10px;
  color :$lightbackground;
  font-size: 10px;
  float:left;
}

.medalrow{
  height: 100px;
}

.modal-content.share{
  width:800px
}

.fieldcontainer{
  input, select, textarea{
    width: 100%
  }
}

.modal-dialog-question{
  width: 1024px;
}

.question_result{
  width: 100px;
  margin-left:10px;
}

.answerGood{
  font-size: 20px;
  color: green;
}

.answerBad{
  font-size: 20px;
  color: red;
}
.glyphicon-play{
  color: blue
}
.question{
  margin-right: 10px;
}

.choose{
  margin-right: 10px !important;

}

.btn-check{
  margin-left: 10px !important
}

.qa{
  margin-top: 15px;
}

.btn-transparent {
  color: $navbarcolor;
  border-color: $navbarcolor;
}

.new_filterrific {
  font-size:12px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 0px solid $navbarcolor;
  border-bottom-color: transparent;
  margin-bottom: -1px;
  border-bottom: 5px solid $navbarcolor !important;
}

.nav-tabs {
  border-bottom: 0px solid $navbarcolor;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0px;
}

.play_container {
  font-size: 20px;
  margin-left: 80px;
}

.excercise_controls {
  border: 1px solid $navbarcolor;
  padding: 5px;
  margin-top: 10px;
  color: $navbarcolor;
  border-radius: 5px;
  .btn{
    margin: 10px;
  }
}

.btn-light{
  color: #4390bc;
  background-color: #ffffff;
  border-color: #4390bc;
}

.messages {
  padding-left: 12px;
}

#new_message {
  margin-top:20px;
  padding: 10px;
}

#message_text {
  border: 2px solid $navbarcolor
}

.message_header {
  font-weight: 900;
  color: $navbarcolor;
  padding-left: 30px;
  span {
    color: #aaaaaa;
    font-size: 10px;
  }

}

.message_body {
  padding-left: 30px;
}

.list_filter_container {
  margin-bottom: 20px;
}

.list_filter{
  padding: 5px;

  li{
    color: $navbarcolor;
    font-weight: bold;
    float: left;
    margin-left: 15px;
  }
  input{
    width: 15px;
    height: 15px;
  }

}

.tune_title{
  text-align:center;
  color: $navbarcolor;
}

.simple_form {
  border-bottom: 1px solid $navbarcolor;
  margin-bottom:30px;
}

.tune_controls{
  font-size: 20px;
  margin-left: 100px;
  margin-top: -20px;
}

.edit_question{
  margin-left: 10px;
}

#fixed_top{
  position: fixed;
  top: 10px;
  left: 10%;
  z-index: 1000;
}

.recordingRemarks{
  margin-bottom: 15px;
  padding-left: 8px;
}

#recording_remarks, #remarks {
    width: 90%
}

.spacer {
  float:left;

}

.timeline_container {
   padding: 0px
}

.timeline {
  .recording-container {
      background: white;
      padding: 15px;
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
    a {
      text-decoration: underline;
      color: $navbarcolor;
    }
  }

  .timeline_title {
    margin-bottom: 10px;
    margin-left: 2px;
  }
  
}

.question-navigation {
  margin-top: 20px;
  a {
    margin-right: 20px;
  }
}

.add_comment{
  textarea {
    width: 100%
  }

}

.list_comments{
  .comments_container{
    min-height: 10px;
  }
  .author{
    color: $navbarcolor
  }
  .created{
    color: gray;
  }
}

audio{
  height: 38px;
  border: 3px solid $lightbackground;
}

textarea{
  border:2px solid $lightbackground;
  background-color: #eee;
}

.slider-track {
  background-color: $navbarcolor
}

.tempo {
  display: inline;
  margin-left: 10px;
  span{
    margin-right: 5px;
  }
}

.link{
  text-decoration: underline;
  color: $navbarcolor;
}

.play-button{
   font-size: 25px;
   color: $navbarcolor;
}

.pl-20{
  padding-left: 20px;
}

#piano{
  position: absolute;
  position: sticky;
  bottom:0;
  left:0;
  height: 124px;
  iframe {
    width: 100%;
  }
  #piano_close_icon {
    margin-left: 20px;
    font-size: 24px;
  }
}

#piano_open{
  position: absolute;
  position: sticky;
  bottom:0;
  left:0;
  height: 24px;
  #piano_open_icon {
    margin-left: 20px;
    font-size: 24px;
  }
}

.prev_next{
  text-align: center;
  font-size: 30px;
  
}


