<% @user = User.where(email: @email).first %>
<p><%=t("user.welcome")%> <%= @user.name %>!</p>
<% if @user.role == "student" %>
<p><%=t("user.teacher_created")%></p>
<% else %>
<p><%=t("user.admin_created")%></p>
<% end %>
<p><%=t("user.confirmation_instructions")%></p>
<p><%= link_to t("user.confirmation_link"), confirmation_url(@resource, confirmation_token: @token) %></p>
