<p><%=t('user.hello')%> <%= @resource.email %>!</p>

<p><%=t('user.request_pw_reset')%></p>

<p><%= link_to t('user.change_pw_link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t('user.request_pw_ignore')%></p>
