<p>=<=t('user.hello')%><%= @resource.email %>!</p>

<p><%=t('user.account_locked')%></p>

<p><=t('user.unlock_link')%></p>

<p><%= link_to t('user.unlock_link_text'), unlock_url(@resource, unlock_token: @token) %></p>
