.form-group
  %label.col-sm-2.control-label{:for => "title"}
    = t('groove.title')
  .col-sm-8
    = f.text_field :title, {class: "form-control"}
.form-group
  %label.col-sm-2.control-label{:for => "url"}
    = t('groove.url')
  .col-sm-8
    = f.text_field :url, {class: "form-control"}    

.form-group
  .col-sm-offset-2.col-sm-10
    %button{:type => "submit", :class=> "btn btn-info btn-default"}
      =t('groove.save')