%table.table.table-hover#filterrific_results
  %thead
    %tr
      %th
        =t('groove.title')

  %tbody
    - @grooves.each do |groove|
      %tr
        %td
          = link_to "#{groove.id}: #{groove.title}", groofe_path(groove)
        - if current_user && current_user.may_destroy(groove)
          %td
            =link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, groofe_path(groove), method: :delete
    %tr
      %td
        = will_paginate @grooves