.row.content_container
  .col-md-12
    .row.list_filters
      .row
        .col-lg-12
          .buttons
            = link_to t('groove.new'), new_groofe_url, :class => "btn btn-info voffset15"
            = link_to(t('tune.reset_filters'), reset_filterrific_url, {:class => "btn btn-info voffset15"})
      = form_for_filterrific @filterrific do |f|
        =hidden_field_tag :collection, params[:collection]
        .row.voffset10
          .col-md-6
            %label
              =t('question.search_title')
            = f.text_field :search, class: 'filterrific-periodically-observed search'

    %div
      = render_filterrific_spinner
      = render partial: 'list'
