.row.content_container
  .col-md-12
    - if current_user && current_user.may_update(@groove)
      .row
        .buttons
          = link_to(t("groove.edit"), edit_groofe_url(@groove), { :class => "btn btn-info voffset15" })
  .col-md-10{style: 'margin-left:20xp;'}
    .row
      .col-10.pl-20
        = @groove.title
    .row
      .col-10.pl-20
        = @groove.url               
