.flash
  - if flash[:notice]
    .alert.alert-info
      %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
      = flash[:notice]
  - if flash[:alert]
    .alert.alert-warning
      %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
      = flash[:alert]
