#modal_medals.modal.fade{"aria-labelledby" => "share", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content.share
      .modal-header
        %button.close.modal_medals_close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Earned Medals
      .modal-body
        .row
          .col-lg-12
            = t("gamification.gold_medals")
        .row.medalrow
          .col-lg-12
            - current_user.medals.where(color: "gold", status: "earned").each do |medal|
              = image_tag medal.image
        .row
          .col-lg-12
            = t("gamification.silver_medals")
        .row.medalrow
          .col-lg-12
            - current_user.medals.where(color: "silver", status: "earned").each do |medal|
              = image_tag medal.image
        .row
          .col-lg-12
            = t("gamification.bronze_medals")
        .row.medalrow
          .col-lg-12
            - current_user.medals.where(color: "bronze", status: "earned").each do |medal|
              = image_tag medal.image
        .row.voffset30
      .modal-footer
        %button#medals_ok.btn.btn-info.modal_success_close{:type => "button", "data-dismiss" => "modal"}
          =t("ok")