%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    = t('nav.tools')
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to('GrooveScribe', '/GrooveScribe/index.html', target: '_new')
    %li
      %a#open_piano_tool
        Piano  