/ Navigation
%nav.navbar.navbar-inverse.navbar-fixed-top.no_print.hide_fs{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        =t('nav.site_name')
      %input#selStopFixed.btn.btn-sm.btn-light.hidden{:type => "button", :value => "Stop"}/
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            =t('nav.search')
            %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => books_url} #{t('nav.books')}
              %li
                %a{:href => tunes_url} #{t('nav.tunes')}
              %li
                %a{:href => questions_url} #{t('nav.questions')}
        %li
          %a{:href => users_url(role: :student)} #{t('nav.students')}
        - unless session[:current_student].nil?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = t('nav.student_selected') + ': ' + session[:current_student]['first_name'] + ' ' + session[:current_student]['last_name']
              %b.caret
              %ul.dropdown-menu
                %li
                  = link_to t('recording.timeline'), student_timeline_path(session[:current_student]['id'])
                %li
                  = link_to t('user.profile'), user_url([session[:current_student]['id']])
        - unless current_user.nil?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = current_user.name
              %b.caret
              %ul.dropdown-menu
                %li
                  = link_to t('recording.timeline'), user_timeline_path(current_user.id)
                %li
                  = link_to(t('nav.settings'), edit_user_path(current_user))
                %li
                  = link_to(t('nav.logout'), destroy_user_session_path, :method => :delete)
        - else
          %li
            = link_to(t('nav.login'), new_user_session_path)
        - unless session[:overtaking_user].nil?
          %li
            = link_to t('nav.bring_back') + ' '  + session[:overtaking_user]["first_name"], take_back_user_url, method: :post
        - unless @part.nil?
          = render partial: 'layouts/nav_mobile_tune'