%li.dropdown.hidden-md.hidden-lg
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    =t("tune.settings") 
    %b.caret
    %ul.dropdown-menu
      %li
        = link_to t("part.print"), part_url(@part, layout: "print")
      - if ["teacher", "admin"].include?(current_user.role) && !session[:current_student].nil?
        %li
          = link_to(t('part.assign_homework'), '#', {id: "assign_homework", :class => ""})
      - unless @part.is_favorite_for_user(current_user)
        %li
          = link_to(t('part.add_to_favorites'), add_favorite_part_url(@part.id, user_id: current_user.id), {:class => ""})
      - else
        %li
          = link_to(t('part.remove_from_favorites'), remove_favorite_part_url(@part.id, user_id: current_user.id), {:class => ""})
      %li
        %a{href: "#", onclick: 'javascript:store_local()'}
          =t("part.make_offline_available")
      - if params[:tags] && params[:index]
        - next_tune = Tune.tagged_with(params[:tags]).offset(params[:index].to_i).limit(1).first
        - unless next_tune.nil?
          %li{class: "btn btn-default"}
            =link_to(t('part.next'), tune_url(next_tune.id, index: params[:index].to_i+1, tags: params[:tags]) )
            
