!!!
- if params[:store_local] == "true"
  %html{manifest: "/v1.appcache"}
- else
  %html
%head
  %script
    localStorage.setItem("authenticationToken", '#{@token}')
    var AUTH_TOKEN = '#{form_authenticity_token}'
  = javascript_include_tag "application"
  %meta{:charset => "utf-8"}/
  - if params[:store_local] == "true"
    %title="#{t("nav.site_name")}: #{@tune.title}"
  - else
    %title= content_for?(:title) ? yield(:title) : t("nav.site_name")
  %meta{:name => "viewport",  :content => "width=device-width, user-scalable=no inital-scale=1"}
  = stylesheet_link_tag  "application"
  = csrf_meta_tags

%body
  #fixed_top.hidden
    %input#selStopFixed.btn.btn-sm.btn-light.hidden{:type => "button", :value => t('part.stop')}/
  - unless params[:offline] == 'true'
    = navigation_menu
  = render "layouts/flash"
  .container.main
    = yield
    #countDown.hidden
  #piano.hidden
    #piano_close_icon.glyphicon.glyphicon-collapse-down
    %iframe{src: '/piano/index.html'}
  #piano_open
    #piano_open_icon.glyphicon.glyphicon-collapse-up

  #popup.modal.fade{:role => "dialog"}
    .modal-dialog
      / Modal content
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title#popup-title Modal Header
        #popup-body.modal-body
          %p Some text in the modal.
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close -
  - unless current_user.nil?
    = render partial: "layouts/modal_medals"


:javascript
    window.maestoso.audioContext = new AudioContext()
    maestoso.user.email = '#{!current_user.nil? ? current_user.email : ""}'
    maestoso.user.instrument = '#{!current_user.nil? ? current_user.instrument : ""}'
  $('document').ready(function(){
    I18n.locale = '#{I18n.locale}'
    maestoso.layout.render()
    $('#piano_close_icon').on('click', function(){
      $('#piano').addClass('hidden')
      $('#piano_open').removeClass('hidden')
    })
    $('#piano_open_icon, #open_piano_tool').on('click', function(){
      $('#piano').removeClass('hidden')
      $('#piano_open').addClass('hidden')
    })
  })